In [8]:
# Import relevant packages
import pandas as pd
import matplotlib.pyplot as plt

In [11]:
# Import library features
from lib.game import BlackJackTable

In [13]:
table = BlackJackTable(hands=1000)
table.run()
blackjack_data = table.df

In [14]:
blackjack_data

,dealer_card,dealer_hand,dealer_final_hand,payroll_0,hand_0,init_move_0,payroll_1,hand_1,init_move_1,payroll_2,hand_2,init_move_2,payroll_3,hand_3,init_move_3
0,NaN,NaN,NaN,500.0,NaN,NaN,500.0,NaN,NaN,500.0,NaN,NaN,500.0,NaN,NaN
1,3,8,18,490.0,68,S,490.0,49,S,490.0,78,S,510.0,JQ,S
2,A,16,20,500.0,58,H,480.0,6T,H,480.0,79,H,500.0,88,P
3,A,12,20,510.0,A7,H,480.0,QK,S,470.0,A3,H,490.0,9J,S
4,4,14,26,520.0,3J,S,490.0,35,H,480.0,6T,S,500.0,8T,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996,T,21,NaN,170.0,23,NaN,355.0,QQ,NaN,460.0,5T,NaN,240.0,5K,NaN
997,9,18,18,180.0,36,H,355.0,8K,S,480.0,46,D,230.0,2T,H
998,5,15,22,190.0,9T,S,365.0,33,P,490.0,5Q,S,240.0,9K,S
999,J,20,20,180.0,8J,S,355.0,A8,S,480.0,89,S,230.0,7T,S
1000,2,10,20,170.0,2T,H,345.0,4T,S,470.0,6J,S,220.0,2K,H

In [ ]:
for i in range(4):
    plt.plot(blackjack_data[f'payroll'])